* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}
.btn-login {
  padding: 10px;
  margin: 0 1rem;
  display: inline-block;
  background: #f15025;
  color: #222;
}
.post {
  max-width: 500px;
  margin: 2rem auto;
}
